.outerContainer1 {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em;
}

.outerContainer1 img {
    width: 25%; 
    height: auto;
    transform: rotate(45deg); 
    margin-right: 1em; 
    position: relative;
    z-index: 1; 
}

.outerContainer1::before {
    content: ''; 
    position: absolute; 
    top: 50%; 
    left: 0.1%; 
    transform: translate(-50%, -50%); 
    width: 50%; 
    height: 100%; 
    background-color: rgb(153, 231, 196); 
    border-radius: 50%; 
    z-index: 0; 
}

.textArea1 {
    width: 50%;
    height: auto;
}

.textArea1 h2 {
    margin: 0;
    text-align: left;
    margin-bottom: 1em;
    color: rgba(73, 188, 73, 0.862);
    font-size: 2em;
}

.textArea1 p {
    margin: 0;
    color: gray;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .outerContainer1 {
        flex-direction: column;
        align-items: center;
        margin: 1em;
    }

    .outerContainer1 img {
        width: 50%;
        transform: rotate(0);
        margin-right: 0;
        margin-bottom: 1em;
    }

    .outerContainer1::before {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 30%;
    }

    .textArea1 {
        width: 100%;
        text-align: center;
    }

    .textArea1 h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .outerContainer1 {
        margin: 0.5em;
    }

    .outerContainer1 img {
        width: 70%;
        margin-bottom: 0.5em;
    }

    .outerContainer1::before {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 25%;
    }

    .textArea1 h2 {
        font-size: 1.2em;
    }

    .textArea1 p {
        font-size: 0.9em;
    }
}
