.container {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.textContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 4vw;
}

.container img {
    width: 20%;
    height: auto;
    position: relative;
    transform: rotate(-45deg);
    transform-origin: top;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .textContainer {
        width: 90%;
        margin-left: 0;
        margin-top: 2em;
    }

    .container img {
        width: 60%;
        transform: rotate(0);
        margin-top: 2em;
    }
}

@media (max-width: 480px) {
    .textContainer {
        width: 100%;
        margin-left: 0;
    }

    .container img {
        width: 80%;
        margin-top: 1em;
    }
}
