.boxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: calc(25% - 5em);
    background-color: aliceblue;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textArea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.priceContainer p {
    margin: 0;
    font-size: 1em;
    color: chocolate;
    font-weight: 700;
}

.priceContainer .bagIconContainer {
    width: 30px;
    height: 30px;
    background-color: rgb(157, 213, 157);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.priceContainer img {
    width: 15px;
    height: auto;
    display: inline-block;
}

.card .mainImage {
    width: 30%;
    height: auto;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .card {
        width: calc(33.33% - 4em);
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 2em);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 2em);
        margin: 1em 0;
    }

    .card .mainImage {
        width: 50%;
    }

    .priceContainer p {
        font-size: 0.9em;
    }

    .priceContainer .bagIconContainer {
        width: 25px;
        height: 25px;
    }

    .priceContainer img {
        width: 12px;
    }
}
